{% extends 'bossapp/respon.html' %}
{% block title %}Profile page{% endblock title %}
{% block mainpage %}
<div class="cantainer ms-2 me-2 ms-sm-5 me-sm-5 ms-lg-5 me-lg-5" style="margin-top: 3.5rem;">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center mt-5">Profile</h1>
            <p class="mt-5">hi my name is babu and i am founder of infinity world.infinity world is the demo website this is under construction 
                . i hope your enjoying and best of luck everyone.
            </p>
        </div>
    </div>
</div>
{% endblock mainpage %}